<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Відновлення паролю:Підтвердження</title>
    {% extends 'base.html' %}
    {% block header %}
</head>
<div class="center">
	<form method="post" class="card">
	  {% csrf_token %}
	  <h2>Підтвердження зміни паролю</h2>

	  {% for field in form %}
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small>
	        	{% endif %}
		{% endfor %}


	  <div>
	    <button type="submit" class="btn btn-primary">Відновлення паролю</button>
	  </div>
	</form>
</div>
{% endblock header %}
{% block footer %}{% endblock footer %}
<body>

</body>
</html>
</head>
<body>

</body>
</html>