<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
	{% extends "main_page/base.html" %}
    {% load static %}
    {% block header %}
</head>
<body>
	<div class="center">
	  <form method="post" novaldiate class="card">
	  	{% csrf_token %}
	    <h2 class="text-center">Створи свій акаунт</h2>
		{% for field in form %}
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small class="error">{{ field.errors|striptags  }}</small>
	        	{% endif %}
		{% endfor %}

		<input type="submit" value="Register" class="btn btn-primary full-width">
		<hr>
		<p class="text-center">Вже є акаунт? <a href="{% url 'users:login' %}">Вхід</a></p>
		</form>
	</div>

</body>
{% endblock header %}
{% block footer %}{% endblock footer %}
</html>